doctype html
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title=title

    script="if (self == top) { document.documentElement.style.display = 'block';} else { top.location = self.location; }"
    
    script(type="text/javascript").
        (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();

    
    <!--[if IE 8]>
    script(type="text/javascript").
        (function(){if(window.opera){return;}
            setTimeout(function(){var a=document,g,b={families:(g=
                            ["nta"]),urls:["{{{ assetPath }}}stylesheets/fonts-ie8.css"]},
                    c="{{{ assetPath }}}javascripts/vendor/goog/webfont-debug.js",d="script",
                    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
                    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
                    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
        })()
    <![endif]-->


    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="/application/css/application-styles.css", rel="stylesheet", type="text/css")

body
    script(type="text/javascript") document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    block content
        != html